<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.com.windy.quartz.dao.ScheduleTriggerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baomidou.com.windy.quartz.entity.ScheduleTrigger">
        <result column="id" property="id" />
        <result column="cron" property="cron" />
        <result column="status" property="status" />
        <result column="job_name" property="jobName" />
        <result column="job_group" property="jobGroup" />
    </resultMap>

</mapper>
